footer
	.wrapper
		.footerlinks
			.linkCollection
				p COLLECTION
				+menu({'Woman \(1725\)':'woman.html', 'Men \(635\)':'men.html', 'Kids \(2514\)':'kids.html', 'Comming Soon \(76\)':'commingSoon.html'}, 'menu__list', 'menu__list_item')
			.linkSite
				p SITE
				+menu({'Terms of Service ':'support.html', 'Privacy Policy':'support.html', 'Copyright Policy':'support.html', 'Press Kit':'support.html', 'Support':'support.html'}, 'menu__list', 'menu__list_item')
			.linkShop
				p SHOP
				+menu({'About us':'about.html', 'Shipping Metods':'about.html', 'Career':'about.html', 'Contact':'about.html'}, 'menu__list', 'menu__list_item')
			.linkSocial
				p SOCIAL
				p.text Shoper is made with love in Warsaw, 2014 © All rights reserved. El Passion
				.socialIcons
					a(href='https://twitter.com/?lang=ru').twitter
					a(href='https://uk-ua.facebook.com').facebook
					a(href='https://www.instagram.com').instagram
					